#logo_school {
	width: 80px;
	margin: 30px 30px 30px 70px;
}

#nomEcole {
	margin: 50px 30px 30px 30px;
	font-size: 2rem;
	color: #3b3b3b;
}

.navbar-nav {
	margin-left: 40px;
}

.navbar-light .navbar-nav .nav-link{
	color: #3b3b3b;
}

#deconnexion{
margin-left: 50px;
}

#piedsDePage {
	color: rgba(0, 0, 0, 0.5);
	text-align: center;

}

#aideBox {
	margin-left: 40px;
	margin-top: 30px;
	margin-right:40px;
	border-radius: 15px;
	border: 1px solid #787878;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-top:15px;
}

#aideBox h2 {
	font-size: 15px;
	color: #3b3b3b;
}


.mainContent{
	margin-left: 40px;
	margin-right: 40px;
	
}

.mainContent h1{
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}
